<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
		<plugin>

            <!-- the plugin name [A-Za-z_] -->
            <pluginName>UserPermissions</pluginName>

            <!-- a short description -->
			<pluginDescription><![CDATA[Allows creation of User accounts in object tree with additional permissions]]></pluginDescription>

            <!-- meta data -->
            <pluginVersion>1.0</pluginVersion>
            <pluginRevision>1</pluginRevision>
            <pluginBuildTimestamp>0</pluginBuildTimestamp>

            <!-- put in the URL for the plugin configuration eg. /plugin/UserPermissions/admin/index -->
            <pluginIframeSrc>/plugin/UserPermissions/admin/index</pluginIframeSrc>

            <!-- className of the plugin which extends Pimcore_API_Plugin_Abstract-->
			<pluginClassName>\UserPermissions\Plugin</pluginClassName>

            <!-- include paths relative to plugin-directory -->
			<pluginIncludePaths>
				<path>/UserPermissions/lib</path>
			</pluginIncludePaths>

			<!-- namespaces to register with autoloader-->
			<pluginNamespaces>
				<namespace>UserPermissions</namespace>
			</pluginNamespaces>

			<!-- js files with path relative to plugin-directory -->
			<pluginJsPaths>
                <path>/plugins/UserPermissions/static/js/startup.js</path>
			</pluginJsPaths>

			<!-- css files with path relative to plugin-directory -->
			<pluginCssPaths>
                <path>/plugins/UserPermissions/static/css/example.css</path>
			</pluginCssPaths>
		</plugin>
</zend-config>
