<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
		<plugin>

            <!-- the plugin name [A-Za-z_] -->
            <pluginName>BackendUserWrapper</pluginName>

            <!-- a short description -->
			<pluginDescription><![CDATA[Allows creation of User accounts in object tree with additional permissions]]></pluginDescription>

            <!-- meta data -->
            <pluginVersion>1.2.1</pluginVersion>
            <pluginRevision>5</pluginRevision>
            <pluginBuildTimestamp>0</pluginBuildTimestamp>

            <!-- put in the URL for the plugin configuration eg. /pluBackendUserWrapperions/admin/index -->
            <pluginIframeSrc>/plugin/BackendUserWrapper/admin/index</pluginIframeSrc>

            <!-- className of the plugin which extends Pimcore_API_Plugin_Abstract-->
			<pluginClassName>\BackendUserWrapper\Plugin</pluginClassName>

            <!-- include paths relative to plugin-directory -->
			<pluginIncludePaths>
				<path>/BackendUserWrapper/lib</path>
			</pluginIncludePaths>

			<!-- namespaces to register with autoloader-->
			<pluginNamespaces>
				<namespace>BackendUserWrapper</namespace>
			</pluginNamespaces>
		</plugin>
</zend-config>
